<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
	version="3.1">
	<display-name>AulaWeb04032024</display-name>

    <servlet>
		<servlet-name>controlador</servlet-name>
		<servlet-class>com.estudo.aula04032024.servlets.ControllerServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>controlador</servlet-name>
		<url-pattern>/mvc</url-pattern>
	</servlet-mapping>
    
	<!--servlet>
		<servlet-name>AdicionaFuncionario</servlet-name>
		<servlet-class>com.estudo.aula04032024.servlets.AdicionaFuncionarioServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AdicionaFuncionario</servlet-name>
		<url-pattern>/adicionaFuncionario</url-pattern>
	</servlet-mapping-->

	<error-page>
		<exception-type>java.lang.Exception</exception-type>
		<location>/erro.html</location>
	</error-page>
	<error-page>
		<error-code>404</error-code>
		<location>/404.html</location>
	</error-page>

	<welcome-file-list>
		<welcome-file>login.html</welcome-file>
		<!--welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file-->
	</welcome-file-list>
</web-app>